{% extends "base.html" %}
{% block content %}


<div class="container mb-5">

    <div class="row justify-content-center">
      <h1 class="text-center text-info">G-TEXT HUB</h1>
        <div class="col-lg-5">
            
          <h4 class="text-center">Ingia ili kufikia Dashibodi</h1>
          <div class="card px-4 py-4">
            <form method="post", action="{% url 'login' %}">
                {% csrf_token %}
                <!-- Email input -->
                <div data-mdb-input-init class="mb-4">
                    <label class="form-label" for="form2Example1">jina la mtumiaji</label>
                  <input type="text" name="username" id="form2Example1" class="form-control" required />
                  
                </div>
              
                <!-- Password input -->
                <div data-mdb-input-init class="mb-4">
                    <label class="form-label" for="form2Example2">nenosiri(namba ya simu)</label>
                  <input type="password" name="password" id="form2Example2" class="form-control" required />
                  
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                      <label class="form-check-label" for="form2Example34"> Remember me </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="">umesahau nenosiri?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Ingia</button>
                {% if form.errors %}
                <p class="text-center text-danger">Jina la mtumiaji au nambari ya simu si sahihi.</p>
                {% endif %}
                <!-- Register buttons -->
                <div class="text-center">
                  <!-- <p>Not a member? <a href="">Register</a></p>
                  <p>or sign up with:</p> -->
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
          </div>
        </div>
    </div>

</div>
{% endblock %}