{% extends 'base.html' %}
{% load humanize %}
{% block title %}Orodha ya Mauzo{% endblock %}

{% block content %}
<style>
    label{
        color: #575219;
    }
</style>
<div class="container mt-3 mb-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-center">Taarifa za Mauzo</h1>
        <a href="{% url 'add_sale' %}" class="btn btn-success rounded-pill">
          Rekodi Mauzo <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      <form method="GET" action="{% url 'sale_list' %}">
        <div class="row">
            <div class="col-md-2">
                <label for="start_date">Kuanzia Tarehe:</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="col-md-2">
                <label for="end_date">Mpaka Tarehe:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}">
            </div>
            <div class="col-md-2">
                <label for="category">Kundi:</label>
                <select name="category" id="selectedProducts" class="form-select">
                    <option value="">Makundi yote</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if selected_category == category.id %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label for="payment_type">Malipo:</label>
                <select name="payment_type" class="form-select">
                    <option value="">Malipo yote</option>
                    <option value="cash" {% if selected_payment_type == 'cash' %}selected{% endif %}>Pesa taslimu</option>
                    <option value="credit" {% if selected_payment_type == 'credit' %}selected{% endif %}>Mkopo</option>
                </select>
            </div>
        
        <div class="col-md-2">
            <label for="payment_type">Chagua Kipindi:</label>
            <select name="time_filter" class="form-select">
                <option value="">Chagua</option>
                <option value="daily" {% if selected_time_filter == 'daily' %}selected{% endif %}>Leo hii</option>
                <option value="weekly" {% if selected_time_filter == 'weekly' %}selected{% endif %}>Wiki hii</option>
                <option value="monthly" {% if selected_time_filter == 'monthly' %}selected{% endif %}>Mwezi huu</option>
                <option value="yearly" {% if selected_time_filter == 'yearly' %}selected{% endif %}>Mwaka huu</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="payment_type">Bofya:</label><br>
                <button type="submit" class="btn btn-primary">Chakata</button>
        </div>
        </div>
    </form>

<div class="row mt-3">
    <!-- Total Amount Card -->
    <div class="col-md-4 mb-3">
        <div class="card h-100" style="background-color: #B4D6CD;">
            <div class="card-body text-center">
                <p><small>Jumla ya Kiasi cha Mauzo (TZS)</small></p>
                <h6 class="card-title">{{ total_amount|intcomma }}</h6>
            </div>
        </div>
    </div>

    <!-- Total Sales Card -->
    <div class="col-md-4 mb-3">
        <div class="card h-100" style="background-color: #F4DEB3;">
            <div class="card-body text-center">
                <p><small>Jumla ya Mauzo</small></p>
                <h6 class="card-title">{{ total_sales_count }}</h6>
            </div>
        </div>
    </div>

    <!-- Total Products Sold Card -->
    <div class="col-md-4 mb-3">
        <div class="card h-100" style="background-color: #F0EAAC;">
            <div class="card-body text-center">
                <p><small>Jumla ya Bidhaa Zilizouzwa</small></p>
                <h6 class="card-title">{{ total_products_sold }}</h6>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table align-middle mb-0 bg-white table-bordered table-sm table-striped">
        <thead class="table-success">
            <tr>
                <th>#</th>
                <th>Tarehe</th>
                <th>Mteja</th>
                <th>Aina ya Malipo</th>
                <th>Jumla Kabla ya Punguzo</th>
                <th>Punguzo</th>
                <th>Jumla Punguzo</th>
                <th>Vitendo</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{ sale.date|date }}</td>
                <td>{{ sale.customer.name }}</td>
                <td>{{ sale.get_payment_type_display }}</td>
                <td>{{ sale.total_amount|intcomma }}</td>
                <td>{{ sale.discount|intcomma }}</td>
                <td>{{ sale.final_amount|intcomma }}</td>
                <td>
                    <a href="{% url 'view_sale' sale.id %}" class="btn btn-info">Angalia</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


</div>

<script>
    // Initialize Select2 for the custom select menu
    $(document).ready(function() {
      $('#selectedProducts').select2();
    });
    
    // Rest of your JavaScript code...
  </script>
{% endblock %}
