{% extends 'base.html' %}
{% load humanize %}
{% block title %}Orodha ya Maduka{% endblock %}

{% block content %}
<div class="container mt-3 mb-4">
  <h1 class="text-center mb-4">Taarifa ya Matumizi</h1>
  {% for store in stores %}
  <div class="card" style="width: 18rem;background-color: #F6F5F2;">
    <div class="card-header px-5">
        <a href="{% url 'store_details' store.id %}" class="text-reset">Duka: {{ store.name }}</a>
    </div>

    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-5">Mmiliki: {{ store.owner }}</li>
      <li class="list-group-item px-5">Mahali: {{ store.address }}</li>
      <li class="list-group-item px-5">Namba ya Simu: {{ store.phone_number }}</li>
    </ul>
    <div class="card-footer bg-body-tertiary px-3">
        <div class="d-flex justify-content-between">
            <a href="{% url 'edit_store' store.id %}" class="btn btn-warning btn-sm rounded-pill">Hariri</a>
            <a href="{% url 'delete_store' store.id %}" class="btn btn-danger btn-sm rounded-pill">Futa</a>
            <a href="{% url 'store_details' store.id %}" class="btn btn-primary btn-sm rounded-pill">Tazama</a>
          </div>
    </div>
  </div>
  {% endfor %}
  
</div>

<script>
  // Initialize Select2 for the custom select menu
  $(document).ready(function() {
    $('#selectedProducts').select2();
  });
  
  // Rest of your JavaScript code...
</script>
{% endblock %}